p{
	/*content-width and height*/
	/* Width helps us to short the border*/
    width:50%;
    
	/*border*/

	border:2px solid blue;
     
    /* Padding - is the spae between the border and inside element*/
    padding:10px;

}